{% extends 'layout.html' %}

{% block content %}

<div class="col-md-8 mx-auto py-4 text-center">
    <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='img/libro.svg') }}" alt="" width="92" height="92">
    <h2 class="mb-2">BibliotecaVM</h2>
    <p class="lead">
        This was my first real project, is a simple personal library manager made with flask and bootstrap. Keep a registry of your books and let you made all CRUD operations.
    </p>
    <p class="lead">
        Originaly a live version was deployed on heroku server, now is down and I am working on a new version with more functionality and newer tecnologies.
    </p>
</div>

{% endblock  %}